/* regole generali */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cccccc;
}

a {
  text-decoration: none;
  padding: 7px 20px;
  background-color: #ffff99;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* regole primo blocco */
.primo {
  width: 80%;
  background-color: #e6e6ff;
  margin-bottom: 50px;
  text-align: center;
}

.listatitoli {
  width: 60%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listaform {
  width: 60%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listabottoni {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listabottoni .ciao {
  margin-left: 20px;
}

/* regole del secondo blocco (parte a comparsa) */
#secondo {
  height: 150px;
  width: 80%;
  background-color: #e6e6ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

#secondo h3 {
  margin-left: 16px;
}
#secondo h4 {
  margin-right: 16px;
}

.infosuperiori {
  display: flex;
  justify-content: space-between;
}

.biglietto {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.biglietto h3 {
  margin:0;
  margin-top: 10px;
}

.elgrigio {
  background-color: gray;
  width: 220px;
  height: 100px;
  text-align: left;
}

.tabella {
  height: 100px;
  width: 77%;
  border: 1px solid gray;
}

table th,table  td {
  padding-left: 35px;
}

#pory {
  position: fixed;
  bottom: 10px;
  right: 40px;
}
