*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.primo {
  width: 80%;
  background-color: cyan;
  margin-bottom: 50px;
  text-align: center;
}

.listatitoli {
  background-color: green;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaform {
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listabottoni {
  background-color: yellow;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ciao {
  background-color: orange;
  height: 30px;
  width: 200px;
  border:1px solid black;
}

.listabottoni .ciao {
  margin-left: 20px;
}

/* parte a comparsa */
.secondo {
  height: 150px;
  width: 80%;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.secondo h3 {
  margin-left: 16px;
}

.biglietto {
  display: flex;
  justify-content: center;
  background-color: red;
  text-align: center;
}

.biglietto h3 {
  margin:0;
  margin-top: 10px;
}

.elgrigio {
  background-color: gray;
  width: 220px;
  height: 100px;
}

.tabella {
  height: 100px;
  background-color: orange;
  width: 77%;
}

table th,table  td {
  padding-left: 30px;
}

#pory {
  position: fixed;
  bottom: 10px;
  right: 40px;
}
